<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="5+ year experienced web development company in Thimphu-Bhutan, best web design company in Thimphu-Bhutan, a super team of website designers, web developers &amp; SEO analyst at WebNet">
    <meta name="author" content="">
    <meta name="keywords"
          content="Web Design Company in Thimphu-Bhutan, Website Development Company in Thimphu-Bhutan, Best Web Development Company, Web Development Company in Thimphu-Bhutan, web development Thimphu-Bhutan, Website desinger, web developer, SEO analyst, Digital Marketing Company">
    <meta property="og:title" content="Web design &amp; web development company in Thimphu,Bhutan- WebNet">
    <title>
        Web Design &amp; Web Development &amp; Mobile App Development Company in Thimphu, Bhutan
    </title>
    <meta name="author" content="Chencho - Founder WebNet">
    <meta name="geo.placename" content="Thimphu Bhutan">
    <meta name="geo.position" content=" 27.4661; 89.6419">
    <meta name="revisit-after" content="7 days">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://www.webnet.technology/">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-184823100-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-184823100-1');
    </script>


    <!-- Bootstrap core CSS -->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="home" href="https://www.webnet.technology/">
    <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'device-mockups/device-mockups.min.css' %}">

    <!-- Custom styles for this template -->
    {#    <link href="{% static 'css/new-age.min.css' %}" rel="stylesheet">#}
    <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><h2 style="font-weight: bolder">WebNet</h2></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation" style="font-size: 18px">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger text-warning" href="tel:+97517611798">
                        <i class="fas fa-phone" aria-hidden="true"></i> (+975) 17611798</a></li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#download">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#features">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#project">Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#team">Team</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <h1 class="text-white text-capitalize font-weight-bolder home_img"
                        style="font-size: 50px !important;">better solution for your business</h1>
                    <p class="text-white text-capitalize">we make beautiful things</p>
                </div>
            </div>
            <div class="col-lg-5 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img class="img-fluid home_img" src="{% static 'img/logo2.jpeg' %}" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--home-->
<section class="download" id="download">

    <br/>
    <div class="container">
        <h2>What We Do?</h2>
        <div class="row">
            <div class="col-md-5 col-lg-5 mt-5">
                <h1>Experience Digital and Beyond</h1>
                <p>Experts in Web Development & Web Design,Mobile Application,Logo Design,Desktop
                    Software & specializing in System Software</p>
            </div>
            <div class="col-lg-7 col-md-7 pb-5">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'img/web1.jpg' %}" class="d-block img-fluid" alt="...">

                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/web5.jpg' %}" class="d-block  img-fluid" alt="...">

                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/web3.png' %}" class="d-block img-fluid" alt="...">

                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/g2.jpg' %}" class="d-block img-fluid" alt="...">

                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <br/><br/>
        <h2 style="font-size: 50px!important;">Expertise</h2>
        <p class="font-weight-bolder">A typical technology stack, comprising of different components or services, useful
            for developing software
            solutions.</p>
        <br/>
        <div class="row">
            <div class="col-md-3 col-lg-3  mt-5">
                <h3><strong>Our Stack</strong></h3>
                <ul style="font-size: 18px">
                    <li>Open Source</li>
                    <li>Mobile Programming</li>
                    <li>Web Programing</li>
                    <li>Desktop App Programming</li>
                    <li>Database</li>
                </ul>


            </div>
            <div class="col-md-4 col-lg-4  mt-5 pb-5">
                <p class="text-center">
                    With a framework being the backbone for any development, it becomes crucial to
                    have an independent, robust architecture, consisting of high – performance programming languages
                    suitable for web, mobile & desktop app development.
                </p>

            </div>

            <div class="col-lg-5 col-md-5">
                <img class="img-fluid home_img" src="{% static 'img/why-us.png' %}" alt=""></a>
            </div>

            <div class="col-md-12 col-lg-12 mt-5">
                <center>
                    <button type="button" class="btn btn-lg btn-outline-primary home_img" data-toggle="popover"
                            title="Software Project"
                            data-content="We have done projects on web app, web software, mobile app and desktop software.
                        We can do any project in above mention field.Our team done logo designing project.
                         We can design logo and video editing as per require.">
                        Web App,Mobile App,Desktop App,Website
                    </button>
                </center>
            </div>
            <div class="col-md-12 col-lg-12 mt-5 pb-5">
                <center>
                    <button type="button" class="btn btn-lg btn-outline-warning home_img" data-toggle="popover"
                            title="Graphic Design"
                            data-content="We are having more than 5 years experienced in doing graphic design and video editing and shooting.
                        We do all designing a logo for any business and company and we do photography.">
                        Graphic Design, Video Editing
                    </button>
                </center>
            </div>

        </div>
        <h2 class="text-center" style="font-size: 50px!important;">We Make Beautiful Things</h2>
        <p class="text-center">Be Part Of Our Story</p>
        <br/>
        <div class="row">
            <div class="col-lg-4 col-md-4 mt-5">
                <img class="home_img img-fluid" src="{% static 'img/m1.jpg' %}" alt="img1"/>
            </div>
            <div class="col-lg-4 col-md-4 mt-5">
                <img class="home_img img-fluid" src="{% static 'img/m2.jpg' %}" alt="img2"/>

            </div>
            <div class="col-lg-4 col-md-4 pb-5 mt-5 ">
                <img class="home_img img-fluid" src="{% static 'img/m3.jpg' %}" alt="img3"/>

            </div>

        </div>
        <h2 class="text-center" style="font-size: 50px!important;">Testimony</h2>
        <div class="row mt-5" style="background-color:white">
            <div class="col-md-4 col-lg-4">
                <h3 style="font-size: 35px;font-weight: bolder; color: black;margin-top: 60px"><strong>Clients
                    Talk</strong></h3>
                <p class="text-dark pb-5" style="font-style: italic">Here’s to what our clients have to say about us</p>
            </div>
            <!--carousel-->
            <div class="col-md-8 col-lg-8 home_img">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <p class="d-block text-dark mt-5">
                                " We have been glad to be associated with WebNet, as they have always been up to our
                                expectations in terms of delivery, commitment & quality. Right from understanding what
                                we need and when can we get it delivered, WebNet has always been committed to attain
                                real time targets. Being honest and offering us the best of what we want, we are
                                satisfied with what we have got from them. We are glad to refer them to others for
                                delivering good quality work excellence and achieving them."

                            </p>
                            <h3 class="text-dark"><strong>Deep Chettri</strong></h3>
                            <p class="text-dark pb-5">Siliguri-INDIA</p>

                        </div>
                        <div class="carousel-item">
                            <p class="d-block w-100 text-dark mt-5">
                                "WebNet – their work speaks everything for me! Right from our very 1st meeting, I am
                                more than satisfied with their philosophy of being honest and communicating clear &
                                concise ideas. Being open for suggesting & receiving ideas, patiently listening to what
                                the client has to say, makes them a reliable & dependent partner to work with. At any
                                given time, any query that needs to be resolved is done on an immediate basis, with the
                                deliverables quick on time with utmost efficiency & transparency, makes WebNet our
                                trusted Technology Partner."

                            </p>
                            <h3 class="text-dark"><strong>Christina Brena</strong></h3>
                            <p class="text-dark pb-5">Oslo-Norway</p>
                        </div>
                        <div class="carousel-item">
                            <p class="d-block w-100 text-dark mt-5">
                                "It’s a sheer pleasure to be associated with their team. Right from the very beginning,
                                when I got a call and our very 1st meeting, we realized that we both had similar goals
                                and were closely aligned with the core competencies of our respective organizations.
                                Their proposal met our expectations and thus begun our association! Our technical team
                                is amazed at the excellent work deliverable by WebNet & their team. We are indeed glad
                                to be working with such a wonderful organization!"

                            </p>
                            <h3 class="text-dark"><strong>Thinley Dorji</strong></h3>
                            <p class="text-dark pb-5">Thimphu-Bhutan</p>
                        </div>
                        <div class="carousel-item">
                            <p class="d-block w-100 text-dark mt-5">
                                "We, at Doctor's Pharmacy are happy to be associated with WebNet and have chosen them
                                as our preferred vendor. We were impressed by the credentials of the leadership team,
                                clientele and their range of technical expertise. WebNet has done a job beyond our
                                expectation for the management app. This mobile app gives a 360 degree panoramic view
                                for our Pharmacy’s Financial and Operational status to the top management of our
                                Pharmacy on a click of a button. They have a sound technical team and were able to
                                understand and absorb the scope of work given to them by our team and deliver the
                                project on a time. We look forward to engage with WebNet for our upcoming projects."
                            </p>
                            <h3 class="text-dark"><strong>Rahul Das</strong></h3>
                            <p class="text-dark pb-5">Bangalore-INDIA</p>
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only text-dark">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only text-dark">Next</span>
                    </a>
                </div>

            </div>

        </div>
        <div class="row mt-5">
            <div class="col-md-12 col-lg-12">
                <img class="img-fluid" src="{% static 'img/skills.png' %}" alt="">
            </div>

        </div>
    </div>

</section>

<!--service-->
<section class="features mt-5" id="features">
    <div class="container">
        <div class="section-heading text-center">
            <h2 style="font-size: 50px!important;">Service & Unlimited Features</h2>
            <p class="text-muted">We provide the best quality of services!</p>
            <hr>
        </div>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 mt-5 col-sm-6 col-xs-6">
                        <div class="feature-item home_img" style="background-color:lightgray">
                            <i class="fa fa-tablet" style="font-size:70px;"></i>
                            <h3 class="text-dark">App Development</h3>
                            <p class="text-dark">We can develop a user friendly mobile app for your business.
                                Any type of mobile app we can developed.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mt-5 col-sm-6 col-xs-6">
                        <div class="feature-item home_img" style="background-color: lightgray">
                            <i class="fa fa-desktop" style="font-size: 70px;"></i>
                            <h3 class="text-dark">Desktop Software</h3>
                            <p class="text-dark">
                                We can develop a standalone software, which is also known as a desktop software
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mt-5 col-sm-6 col-xs-6">
                        <div class="feature-item home_img" style="background-color:lightgray">
                            <i class="fa fa-globe" style="font-size: 70px;"></i>
                            <h3 class="text-dark">Web Development</h3>
                            <p class="text-dark">
                                We can develop any type of website for business.Website such as Static & Dynamic
                                and
                                also we can develop a E-commerce website.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mt-5 col-sm-6 col-xs-6">
                        <div class="feature-item home_img" style="background-color: lightgray">
                            <i class="fa fa-chart-bar" style="font-size: 70px;"></i>
                            <h3 class="text-dark">System Software</h3>
                            <p class="text-dark">
                                We can develop a web base software, example Inventory management system,
                                Document management system etc.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mt-5 col-sm-6 col-xs-6">
                        <div class="feature-item home_img" style="background-color: lightgray">
                            <i class="fa fa-video" style="font-size: 70px;"></i>
                            <h3 class="text-dark">Video Editing</h3>
                            <p class="text-dark">
                                We can do any type of video editing and video shooting and also making a albums.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mt-5 col-sm-6 col-xs-6">
                        <div class="feature-item home_img" style="background-color: lightgray">
                            <i class="fab fa-html5" style="font-size: 70px"></i>
                            <h3 class="text-dark">Logo Design (Graphic Design)</h3>
                            <p class="text-dark">
                                We can design any type of logo and banner of any type of business.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            </div>
    </div>
</section>

<!--about us-->

<section class="page-section mt-5" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About Us</h2>
        </div>
        <div class="row">
             <div class="col-lg-4 col-md-4 mt-5 pb-5">
                <img src="{% static 'img/logo2.jpg' %}" alt="" height="300px" width="300px"/>
            </div>
            <div class="col-lg-8 col-md-8">
                <p class="text-justify mt-5">
                    <strong class="text-danger"> WebNet </strong>is a development of web based software,desktop
                    software, mobile app (application),
                    website,designing logo, photography and video editing.where users can access via a web browser on
                    any device with internet access,WebNet provides businesses with environment and assistance to make
                    significant business connections on demand.
                </p>
            </div>



            <div class="col-lg-4 col-md-4">
                <p class="mt-5">
                    <strong class="text-danger"> Our Specialties- </strong>
                </p>
                <ol style="font-size: 18px;">
                    <li>Online management system software</li>
                    <li>Desktop software (offline)</li>
                    <li>Application(app) development</li>
                    <li>Website development</li>
                    <li>Designing logo</li>
                    <li>Short video editing</li>
                </ol>
            </div>

            <div class="col-lg-8 col-md-8">
                <img class="img-fluid" src="{% static 'img/logo.jpeg' %}" alt=""/>
            </div>


        </div>
    </div>
</section>


<!--Team-->

<section class="team" id="team">

    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <br/>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle img-fluid home_img" src="{% static 'img/team/p1.jpg' %}" alt=""/>
                    <h4>Chencho Gyeltshen</h4>
                    <p class="text-muted">Full stack Web developer and web-based system developer and desktop
                        application developer</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle img-fluid home_img" src="{% static 'img/team/p2.jpg' %}" alt=""/>
                    <h4>Basant Khatri</h4>
                    <p class="text-muted">
                        Graphics designer and full stack web developer, front end and php with laravel framework for
                        backend.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle img-fluid home_img" src="{% static 'img/team/p3.jpg' %}" alt=""/>
                    <h4>Pankaj Gurung</h4>
                    <p class="text-muted">
                        cinematographer, photographer/editor with the experience of 5yrs in this area.
                    </p>

                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle img-fluid home_img" src="{% static 'img/team/p4.JPG' %}" alt=""/>
                    <h4>Kinley wangchuk</h4>
                    <p class="text-muted">
                        Full stack web developer and web managements system software developer with PHP with laravel
                        framework for backend.
                    </p>

                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle img-fluid home_img" src="{% static 'img/team/p5.jpg' %}" alt=""/>
                    <h4>Kamakhya Singh</h4>
                    <p class="text-muted">
                        Android mobile application developer with rich experience in app development to fulfill all user
                        desires and requirement.
                    </p>

                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle img-fluid home_img" src="{% static 'img/team/p7.jpg' %}" alt=""/>
                    <h4>Deepak Chauhan</h4>
                    <p class="text-muted">
                        Developer and designer, developing, testing, and maintaining Android applications in the
                        industry.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta pb-5" id="project">
    <div class="cta-content">
        <div class="container">
            <h1 class="text-dark" style="font-size: 50px !important;">Our Recent</h1>
            <h3>Built Projects.</h3>
            <br/>
            <br/>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-6 mt-5">
                                        <img src="{% static 'img/p1.png' %}" class="d-block img-fluid" alt="...">

                                    </div>
                                    <div class="col-md-6 mt-5">
                                        <img src="{% static 'img/p2.png' %}" class="d-block  img-fluid" alt="...">
                                    </div>

                                </div>

                            </div>

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-6 mt-5">
                                        <img src="{% static 'img/p3.png' %}" class="d-block img-fluid" alt="...">

                                    </div>
                                    <div class="col-md-6 mt-5">
                                        <img src="{% static 'img/p4.png' %}" class="d-block  img-fluid" alt="...">
                                    </div>

                                </div>

                            </div>

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-6 mt-5">
                                        <img src="{% static 'img/p5.png' %}" class="d-block img-fluid" alt="...">

                                    </div>
                                    <div class="col-md-6 mt-5">
                                        <img src="{% static 'img/p6.png' %}" class="d-block  img-fluid" alt="...">
                                    </div>

                                </div>

                            </div>

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-6 mt-5">
                                        <img src="{% static 'img/p7.png' %}" class="d-block img-fluid" alt="...">

                                    </div>
                                    <div class="col-md-6 mt-5">
                                        <img src="{% static 'img/p8.png' %}" class="d-block  img-fluid" alt="...">
                                    </div>

                                </div>

                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>

            </div>

        </div>
    </div>

</section>

<section class="contact bg-primary" id="contact">
    <div class="container mt-5">
        <h2 class="mt-5">We
            <i class="fas fa-heart home_img text-danger"></i>
            new friends!</h2>
        <ul class="list-inline list-social pb-5">

            <li class="list-inline-item social-facebook home_img">
                <a href="https://www.facebook.com/WebNet-296747400507059/">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="list-inline-item social-google-plus home_img">
                <a href="mailto:webnets2020@gmail.com">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>
            <li class="list-inline-item social-twitter home_img">
                <a href="https://www.instagram.com/chencho.gyelshen/">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>

        <h2>We’d love to hear from you</h2>
        <p>Whether you have a question about features, trial, pricing, need a demo, or anything else, our team is ready
            to answer all your questions.</p>

        <div class="row mt-5 pb-5">
            <div class="col-lg-6 col-md-6 mt-5">
                <p>
                    <a class="text-dark" href="mailto:webnets2020@gmail.com">
                        <i class="fa fa-envelope-square"></i> webnets2020@gmail.com
                    </a>
                </p>
                <p>
                    <a class="text-dark" href="tel:+97517611798">
                        <i class="fa fa-phone"></i>
                        (+975) 17611798
                    </a>
                </p>
                <p>
                    <a class="text-dark" href="tel:+97517585081">
                        <i class="fa fa-phone"></i>
                        (+975) 17585081
                    </a>
                </p>

                <p class="mt-3 text-dark">
                    <i class="fa fa-map-marker"></i>
                    Thimphu, Main Town behind Bank of Bhutan
                </p>
            </div>

            <div class="col-lg-6 col-md-6">
                <form class="needs-validation f1 pb-3 bg-white" method="post">
                    {% csrf_token %}
                    <div class="form-row text-dark font-weight-bolder mt-5">
                        <div class="col-md-6 mb-3">
                            <label for="name">Your Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="email">Your Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="form-row text-dark font-weight-bolder">
                        <div class="col-md-12 mb-3">
                            <label for="no">Contact Number</label>
                            <input type="tel" class="form-control" id="no" name="phone" required>

                        </div>
                    </div>
                    <div class="form-row text-dark font-weight-bolder">
                        <div class="col-md-12 mb-3">
                            <label for="msg">Message</label>
                            <textarea class="form-control" id="msg" name="message" required></textarea>

                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">Submit form</button>
                </form>
                {% ifequal error "no" %}
                    <script>
                        alert('Your Message is successfully sent, thanks for contacting us!')

                    </script>
                {% endifequal %}

                {% ifequal error "yes" %}
                    <script>
                        alert('Something went wrong, try again!')

                    </script>
                {% endifequal %}

            </div>
            <h2>Our teams are here to help...</h2>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-white">
                <h4 class="font-weight-bolder">Contact</h4>
                <ul style="list-style-type: none;">
                    <li>
                        <p class="text-white" style="font-size: 20px">
                            Feel free to connect with us by reaching us directly on:<br/>
                            <a class="text-white" href="mailto:webnets2020@gmail.com" style="font-size: 20px">
                                <i class="fa fa-envelope-square"></i> webnets2020@gmail.com
                            </a>
                        </p>
                    </li>
                    <li>
                        <p class="text-white" style="font-size: 20px">
                            or reach us at: <br/>
                            <a class="text-white" href="tel:+97517611798" style="font-size: 20px">
                                <i class="fa fa-phone"></i>(+975) 17611798
                            </a>
                        </p>
                    </li>
                </ul>

            </div>
            <div class="col-lg-4 col-md-4">
                <h4 class="font-weight-bolder text-white">Address</h4>
                <p class="mt-3 text-white" style="font-size: 20px">
                    <i class="fa fa-map-marker text-white"></i>
                    Thimphu, Main Town behind Bank of Bhutan
                </p>
            </div>
            <div class="col-lg-4 col-md-4 text-white">
                <h4 class="font-weight-bolder">Technologies</h4>
                <ul style="list-style-type: none; font-size: 20px">
                    <li>Python</li>
                    <li>Php laravel</li>
                    <li>Bootstrap</li>
                    <li>UI/UX Design</li>
                    <li>Java</li>
                    <li>React JS</li>
                </ul>

            </div>

        </div>
        <p class="text-white font-weight-bolder" style="font-size: 15px">&copy; WebNet | All Rights Reserved.</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'js/new-age.min.js' %}"></script>


<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    });
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

</body>

</html>
